header {
  display: flex;
  justify-content: space-between;
}

nav {
  list-style-type: none;
  display: none; /* Hide navigation by default */
}

aside {
  display: none; /* Hide aside by default */
}

.show-items {
  /* when hambergur menu clicked, applied this style */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.c-sidebar__list-item--active {
  font-weight: var(--clr-secondary-font-color);
  color: var(
    --clr-secondary-font-color
  ); /* Change color to indicate active state */
}

td,
th {
  border: 2px solid #ccc;
  padding: 8px;
}

/* Swatches table styles */
.c-swatch__table--size {
  width: 300px;
  padding: 4px;
  font-family: var(--ff-sans-serif);
  font-size: var(--fs-body);
  border-collapse: collapse;
}

/* typography table styles */
.c-typography__table--size {
  width: 600px;
  padding: 4px;
  border-collapse: collapse;
}

/* typography table row styles */
.c-typography__table__row {
  font-family: var(--ff-sans-serif);
  font-size: var(--fs-body);
  font-weight: var(--fw-400-reg);
}

/* Side bar link Styles */
.c-sidebar__link {
  text-decoration: none;
  color: var(--clr-primary-font-color);
}

/* Side bar list items Styles */
.c-sidebar__list__items {
  font-size: var(--fs-h4);
  list-style-type: none;
  margin: 10px 0;
  color: var(--clr-primary-font-color);
}

/* Side bar hover state changing styles */
.c-sidebar__list-items--hover:hover {
  color: var(--clr-primary-accent-bgcolor);
}
.c-top-nav__list__items--hover:hover {
  color: var(--clr-primary-accent-bgcolor);
}

/* top nav bar list items Styles */
.c-top-nav__list__items {
  list-style-type: none;
}
.c-top-nav__links {
  font-size: var(--fs-h5);
  list-style-type: none;
  margin: 10px 0;
  color: var(--clr-primary-font-color);
  text-decoration: none;
}

/* Swatch styles */
.c-swatch {
  width: 250px;
  height: 100px;
 }

.c-swatch-details{
  font-family: var(--ff-sans-serif);
  font-size: var(--fs-body);
  /* width: 30%; */
}

.c-list-style{
  list-style: none;
}

.l-border{
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

/* small devices (mobile devices, upto 1000px).......................................*/
@media (max-width: 1000px) {
  header {
    display: flex;
    justify-content: space-between;
  }
}

/* Larger devices (from 1000px).......................................*/
@media (min-width: 1000px) {
  aside {
    /* list-style-type: none; */
    display: inline;
  }

  .toggle {
    display: none; /* hide hamburger menu */
  }

  #nav-bar2 {
    display: none;
  }

  nav {
    display: flex;
  }

  #nav-items {
    list-style-type: none;
    display: flex;
  }



}
