header {
  display: flex;
  justify-content: space-between;
}

nav {
  list-style-type: none;
  display: none; /* Hide navigation by default */
}



aside {
  display: none; /* Hide aside by default */
}



.show-items {
  /* when hambergur menu clicked, applied this style */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

aside a:hover {
  color: var(--clr-green); /* hover on links */
}

.active {
  font-weight: bold;
  color: #39ba2d; /* Change color to indicate active state */
}

.c-swatch__table--size {
  margin-top: 10px;
  width: 300px;
  border-radius: 5px 5px 0 0;
  padding: 4px;
}

.c-swatch__table--border {
  border: 1px solid lightgray;
}

.c-sidebar__link{
  text-decoration: none;
  color: var(--clr-primary-font-color);
}

.c-sidebar__list__items{
  font-size: var(--fs-h4);
  list-style-type: none;
  margin: 10px 0;
  color: var(--clr-primary-font-color);
}

.c-sidebar__list-items--hover:hover{
  color: var(--clr-primary-accent-bgcolor);
}


/* small devices (mobile devices, upto 1000px).......................................*/
@media (max-width: 1000px) {
  header {
    display: flex;
    justify-content: space-between;
  }
}

/* Larger devices (from 1000px).......................................*/
@media (min-width: 1000px) {
  aside {
    /* list-style-type: none; */
    display: inline;
  }

  .toggle {
    display: none; /* hide hamburger menu */
  }

  #nav-bar2 {
    display: none;
  }

  nav {
    display: flex;
  }

  #nav-items {
    list-style-type: none;
    display: flex;
  }

  .typography h1{
    font-size: var(--fs-800);
  }
  
  .typography h2{
    font-size: var(--fs-700);
  }
  
  .typography p{
    font-size: var(--fs-600);
  }
  

}
