:root {
    --clr-primary: #000; /* Black */
    --clr-secondary: #333; /* Dark Grey */
    --clr-accent: #333; /* Dark Grey */
    --clr-light: #f2f2f2; /* Very Light Grey */
    --clr-white: #fff; /* White */
  }
  