/* font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif; */

:root {
  /* colors */
  --clr-primary-font-color:: #0c0c55;
  --clr-primary-bgcolor:: #f2f2f2; /* Very Light Grey */
  --clr-primary-accent-bgcolor: #277838; /* green */
  --clr-primary-accent-font:: #72d4df;

  --clr-secondary-font-color: #333; /* Dark Grey */
  --clr-secondary-bgcolor: #d93044; /* Dark Grey */
 
  --clr-light-bgcolor: #fff; /* White */  
  --clr-decorative: #dce651;

  /* font-families */
  --ff-sans-serif: "Roboto", sans-serif;
  
 /* font sizes */
  --fs-button: 0.875rem;
  --fs-caption: 0.75rem;
  --fs-body: 1rem;
  --fs-subheading: 1.5rem;
  --fs-h6: 1.25rem;
  --fs-h5: 1.5rem;
  --fs-h4: 2.125rem;
  --fs-h3: 3rem;
  --fs-h2: 3.5rem;
  --fs-h1: 4rem;

  /* font-weights */
  --fw-300-light: 300;
  --fw-400-reg: 400;
  --fw-500-med: 500;
  --fw-600-semibold: 600;
  --fw-700-bold: 700;
  --fw-800-exrabold: 800;
  --fw-900-black: 900;
}

* {
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  margin: 0;
  padding: 0;
  /* font-size: 62.5%; */
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0; /* Reset margin to 0 */
}

ul,
ol {
  padding: 0; /* Reset padding to 0 */
}


/* Colors */

.c-colorSwatch {
  height: 60px;
  width: 25%;
  font-family: var(--ff-sans);
  font-size: var(--fs-700);
}

.u-primary-bgcolor {
  background-color: var(--clr-primary-bgcolor);
}

.u-primary-font-color{
  color: var(--clr-primary-font-color);
}

.u-primary-cta-bgcolor {
  background-color: var(--clr-primary-accent-bgcolor);
}

.u-primary-cta-font-color {
  color: var(--clr-primary-accent-font);
}

.u-secondary-font-color {
  color: var(--clr-secondary-font-color);
}

.u-secondary-bgcolor {
  background-color: var(--clr-secondary-bgcolor);
}

.u-colors-decorative {
  background-color: var(--clr-decorative);
}


/* typography */
.u-ff-sans-serif{
  font-family: var(--ff-sans-serif);
}

.u-fs-body { font-size: var(--fs-body); } 
.u-fs-subheading { font-size: var(--fs-subheading); } 
.u-fs-h6 { font-size: var(--fs-h6); } 
.u-fs-h5 { font-size: var(--fs-h5); } 
.u-fs-h4 { font-size: var(--fs-h4); } 
.u-fs-h3 { font-size: var(--fs-h3); } 
.u-fs-h2 { font-size: var(--fs-h2); } 
.u-fs-h1 { font-size: var(--fs-h1); } 


.u-fw-light { font-weight: var(--fw-300-light); }
.u-fw-reg { font-weight: var(--fw-400-reg); }
.u-fw-med { font-weight: var(--fw-500-med); }
.u-fw-semibold { font-weight: var(--fw-600-semibold); }
.u-fw-bold { font-weight: var(--fw-700-bold); }
.u-fw-extrabold { font-weight: var(--fw-800-exrabold); }
.u-fw-black { font-weight: var(--fw-900-black); }

.u-letter-spacing-heading { letter-spacing: 0.8px; }
.u-letter-spacing-subheading { letter-spacing: 0.64px; }
.u-letter-spacing-body { letter-spacing: 0.64px; }
.u-letter-spacing-caption { letter-spacing: 0.35px; }
.u-letter-spacing-typeface { letter-spacing: 2.5px; }

.u-h1 {	
  font-size: var(--fs-h1);
  font-weight: var(--fw-800-exrabold);
  letter-spacing: 0.8px;
  }
  
.u-h2 {
  font-size: var(--fs-h2);
  font-weight: var(--fw-600-semibold);
  letter-spacing: 0.64px;
  }
  
.u-h3 {
  font-size: var(--fs-h3);
  font-weight: var(--fw-500-med);
  letter-spacing: 0.64px;
  }
  
.u-h4 {
  font-size: var(--fs-h4);
  font-weight: var(--fw-500-med);
  letter-spacing: 0.64px;
  }

.u-h5 {
  font-size: var(--fs-h5);
  font-weight: var(--fw-500-med);
  letter-spacing: 0.64px;
  }
  
.u-h6 {
  font-size: var(--fs-h6);
  font-weight: var(--fw-500-med);
  letter-spacing: 0.64px;
  }
  
.u-subheading {
  font-size: var(--fs-subheading);
  font-weight: var(--fw-500-med);
  letter-spacing: 0.64px;
  }

.u-body {
  font-size: var(--fs-body);
  font-weight: var(--fw-400-reg);
  letter-spacing: 0.48px;
  }

.u-uppercase { text-transform: uppercase; }


table {
  border: 2px solid #ccc;
}

td {
  padding: 8px; /* Add padding to the table cells */
  border-bottom: 1px solid #ddd; /* Add a bottom border with a light grey color */
  border-right: 1px solid #ddd; /* Add a right border with a light grey color */
}
